<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<title>建筑信息</title>

<!-- Bootstrap -->
<link href="../css/bootstrap.min.css" rel="stylesheet">
<!-- 字体图标 -->
<link href="../css/font-awesome.min.css" rel="stylesheet">
<!-- NProgress -->
<link href="../css/nprogress.css" rel="stylesheet">
<!-- 公共样式 -->
<link href="../css/general.css" rel="stylesheet" media="screen">
<!-- toastr -->
<link href="../css/toastr.min.css" rel="stylesheet">
<link href="../css/bootstrapValidator.min.css" rel="stylesheet">
<!-- 选框样式 -->
<link rel="stylesheet" type="text/css" href="../css/build.css">
<link href="../css/add.css" rel="stylesheet" media="screen">

</head>
<body class="bg_white">
	<div class="padding_15">
		<div class="row">
			<div class="col-md-12">
				<div class="x_top  clearfix">
					<h4>新增火灾自动报警系统</h4>
				</div>

				<div class="x_content">
					<form class="form-horizontal form_style"
						id="AutomaticFireAlarmSystem" method="post">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

							<div class="form_content">
								<h4 class="font_ioc_blue">
									<strong><i class="fa fa-gear"></i>基本信息</strong>
								</h4>
								<div class="row">
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
										<div class="item form-group has-feedback">
											<label
												class="text-left  col-lg-4 col-md-4 col-sm-4 col-xs-12 control-label">系统名称:
											</label>
											<div class="col-lg-8  col-md-8 col-sm-8 col-xs-12">
												<input class="form-control col-md-7 col-xs-12"
													name="systemName" placeholder="系统名称" type="text">
											</div>
										</div>

										<div class="item form-group has-feedback">
											<label
												class="text-left col-lg-4 col-md-4 col-sm-4 col-xs-12 control-label">设置部位:
											</label>
											<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
												<input type="text" name="installingPositions"
													placeholder="设置部位" class="form-control ">
											</div>
										</div>

										<div class="item form-group has-feedback">
											<label
												class="text-left  col-lg-4 col-md-4 col-sm-4 col-xs-12 control-label">责任部门:
											</label>
											<div class="col-lg-8  col-md-8 col-sm-8 col-xs-12">
												<input class="form-control col-md-7 col-xs-12"
													name="responsibleDepartment" placeholder="责任部门" type="text">
											</div>
										</div>



									</div>

									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">

										<div class="item form-group has-feedback">
											<label
												class="text-left col-lg-4 col-md-4 col-sm-4 col-xs-12 control-label">系统状态:
											</label>
											<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
												<select class="form-control" name="systemState">
													<option selected="selected" disabled="disabled">-- 请选择状态 --</option>
													<option value="1">无故障运行</option>
													<option value="2">有故障运行</option>
													<option value="3">有故障停用</option>
													<option value="4">停用</option>
													<option value="5">其他</option>
												</select>
											</div>
										</div>

										<div class="item form-group has-feedback">
											<label
												class="text-left col-lg-4 col-md-4 col-sm-4 col-xs-12 control-label">系统形式:
											</label>
											<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
												<select class="form-control" name="systemForm">
													<option selected="selected" disabled="disabled">-- 请选择形式 --</option>
													<option value="1">区域报警</option>
													<option value="2">集中报警</option>
													<option value="3">控制中心报警</option>
												</select>
											</div>
										</div>

										<div class="item form-group has-feedback">
											<label
												class="text-left  col-lg-4 col-md-4 col-sm-4 col-xs-12 control-label">责任人:
											</label>
											<div class="col-lg-8  col-md-8 col-sm-8 col-xs-12">
												<input class="form-control col-md-7 col-xs-12"
													name="personCharge" placeholder="责任人" type="text">
											</div>
										</div>

									</div>

								</div>

							</div>

							<div class="form_content">
								<h4 class="font_ioc_blue">
									<strong><i class="fa fa-gear"></i>单位</strong>
								</h4>
								<div class="row">
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
										<div class="item form-group has-feedback">
											<label
												class="text-left  col-lg-4 col-md-4 col-sm-4 col-xs-12 control-label">维修保养单位:
											</label>
											<div class="col-lg-8  col-md-8 col-sm-8 col-xs-12">
												<input class="form-control col-md-7 col-xs-12"
													name="maintainingUnit" placeholder="维修保养单位" type="text">
											</div>
										</div>

										<div class="item form-group has-feedback">
											<label
												class="text-left  col-lg-4 col-md-4 col-sm-4 col-xs-12 control-label">设计单位:
											</label>
											<div class="col-lg-8  col-md-8 col-sm-8 col-xs-12">
												<input class="form-control col-md-7 col-xs-12"
													name="designUnit" placeholder="设计单位" type="text">
											</div>
										</div>

									</div>
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
										<div class="item form-group has-feedback">
											<label
												class="text-left  col-lg-4 col-md-4 col-sm-4 col-xs-12 control-label">施工单位:
											</label>
											<div class="col-lg-8  col-md-8 col-sm-8 col-xs-12">
												<input class="form-control col-md-7 col-xs-12"
													name="constructionUnit" placeholder="施工单位" type="text">
											</div>
										</div>
										<div class="item form-group has-feedback">
											<label
												class="text-left  col-lg-4 col-md-4 col-sm-4 col-xs-12 control-label">监理单位:
											</label>
											<div class="col-lg-8  col-md-8 col-sm-8 col-xs-12">
												<input class="form-control col-md-7 col-xs-12"
													name="supervisingUnit" placeholder="监理单位" type="text">
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="form_content">
								<h4 class="font_ioc_blue">
									<strong><i class="fa fa-gear"></i>其它</strong>
								</h4>
								<div class="row">
									<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

										<div class="item form-group has-feedback">
											<label
												class="text-left  col-lg-2 col-md-2 col-sm-2 col-xs-12 control-label">是否设置消防标识:
											</label>
											<div class="col-lg-10  col-md-10 col-sm-10 col-xs-12">
												<select class="form-control" name="doYouHaveFireSign">
													<option selected="selected" disabled="disabled">-- 请选择状态 --</option>
													<option value="1">是</option>
													<option value="2">否</option>
												</select>
											</div>
										</div>

										<div class="item form-group has-feedback">
											<label
												class="text-left  col-lg-2 col-md-2 col-sm-2 col-xs-12 control-label">操作使用方法:
											</label>
											<div class="col-lg-10  col-md-10 col-sm-10 col-xs-12">
												<textarea name="operationMethod"
													class="form-control col-md-7 col-xs-12"
													placeholder="操作使用方法"></textarea>
											</div>
										</div>

										<div class="item form-group has-feedback">
											<label
												class="text-left  col-lg-2 col-md-2 col-sm-2 col-xs-12 control-label">其它情况:
											</label>
											<div class="col-lg-10  col-md-10 col-sm-10 col-xs-12">
												<textarea name="otherSituations"
													class="form-control col-md-7 col-xs-12" placeholder="其它情况"></textarea>
											</div>
										</div>

									</div>
								</div>
							</div>

							<div class="form_content">
								<h4 class="font_ioc_blue">
									<strong><i class="fa fa-gear"></i>数据</strong>
								</h4>
								<div class="row">
									<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
										<div class="item form-group has-feedback">
											<label
												class="text-left  col-lg-6 col-md-6 col-sm-6 col-xs-12 control-label">报警控制器型号:
											</label>
											<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
												<input class="form-control col-md-7 col-xs-12"
													name="alarmControllerModel" placeholder="报警控制器型号"
													type="text">
											</div>
										</div>

										<div class="item form-group has-feedback">
											<label
												class="text-left  col-lg-6 col-md-6 col-sm-6 col-xs-12 control-label">联动控制器型号:
											</label>
											<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
												<input class="form-control col-md-7 col-xs-12"
													name="linkageControllerModel" placeholder="联动控制器型号"
													type="text">
											</div>
										</div>

										<div class="item form-group has-feedback">
											<label
												class="text-left  col-lg-6 col-md-6 col-sm-6 col-xs-12 control-label">手动报警型号:
											</label>
											<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
												<input class="form-control col-md-7 col-xs-12"
													name="manualAlarmModel" placeholder="手动报警型号" type="text">
											</div>
										</div>

										<div class="item form-group has-feedback">
											<label
												class="text-left  col-lg-6 col-md-6 col-sm-6 col-xs-12 control-label">探测器类型:
											</label>
											<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
												<input class="form-control col-md-7 col-xs-12"
													name="detectorType" placeholder="探测器类型" type="text">
											</div>
										</div>
									</div>

									<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
										<div class="item form-group has-feedback">
											<label
												class="text-left col-lg-4 col-md-4 col-sm-4 col-xs-12 control-label">数量:
											</label>
											<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
												<input class="form-control col-md-7 col-xs-12"
													name="alarmControllerQuantity" placeholder="数量：台"
													type="text"><span class="font_unit">台</span>
											</div>
										</div>

										<div class="item form-group has-feedback">
											<label
												class="text-left  col-lg-4 col-md-4 col-sm-4 col-xs-12 control-label">数量:
											</label>
											<div class="col-lg-8  col-md-8 col-sm-8 col-xs-12">
												<input class="form-control col-md-7 col-xs-12"
													name="linkageControllerQuantity" placeholder="数量：台"
													type="text"><span class="font_unit">台</span>
											</div>
										</div>


										<div class="item form-group has-feedback">
											<label
												class="text-left  col-lg-4 col-md-4 col-sm-4 col-xs-12 control-label">数量:
											</label>
											<div class="col-lg-8  col-md-8 col-sm-8 col-xs-12">
												<input class="form-control col-md-7 col-xs-12"
													name="manualAlarmQuantity" placeholder="数量：台" type="text"><span
													class="font_unit">台</span>
											</div>
										</div>

										<div class="item form-group has-feedback">
											<label
												class="text-left col-lg-4 col-md-4 col-sm-4 col-xs-12 control-label">数量:
											</label>
											<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
												<input class="form-control col-md-7 col-xs-12"
													name="detectorQuantity" placeholder="数量：台" type="text"><span
													class="font_unit">台</span>
											</div>
										</div>

									</div>
									<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
										<div class="item form-group has-feedback">
											<label
												class="text-left col-lg-4 col-md-4 col-sm-4 col-xs-12 control-label">厂家:
											</label>
											<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
												<input class="form-control col-md-7 col-xs-12"
													name="alarmControllerManufacturer" placeholder="厂家"
													type="text">
											</div>
										</div>

										<div class="item form-group has-feedback">
											<label
												class="text-left  col-lg-4 col-md-4 col-sm-4 col-xs-12 control-label">厂家:
											</label>
											<div class="col-lg-8  col-md-8 col-sm-8 col-xs-12">
												<input class="form-control col-md-7 col-xs-12"
													name="linkageControllerManufacture" placeholder="厂家"
													type="text">
											</div>
										</div>


										<div class="item form-group has-feedback">
											<label
												class="text-left  col-lg-4 col-md-4 col-sm-4 col-xs-12 control-label">厂家:
											</label>
											<div class="col-lg-8  col-md-8 col-sm-8 col-xs-12">
												<input class="form-control col-md-7 col-xs-12"
													name="manualAlarmManufacture" placeholder="厂家" type="text">
											</div>
										</div>

										<div class="item form-group has-feedback">
											<label
												class="text-left col-lg-4 col-md-4 col-sm-4 col-xs-12 control-label">
											</label>
											<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12"></div>
										</div>

									</div>
								</div>
							</div>

							<div class="form-group">
								<div class="col-md-6 col-md-offset-3">
									<button type="submit" class="btn btn-success">提交</button>
									<button type="reset" class="btn btn-primary">重置</button>
								</div>
							</div>

						</div>
					</form>
				</div>


			</div>
		</div>
	</div>


</body>
<!-- jQuery -->
<script src="../js/jquery-1.11.1.min.js"></script>
<!-- Bootstrap -->
<script src="../js/bootstrap.min.js"></script>
<!-- 消息提示 -->
<script type="text/javascript" src="../js/toastr.js"></script>
<!-- 弹出窗  -->
<script type="text/javascript" th:src="@{../js/layer.js}"></script>
<!-- 表单验证 -->
<script src="../js/bootstrapValidator.min.js"></script>
<!--公用 -->
<script src="../js/common.js"></script>
<script src="../js/buildInfos/automaticfirealarmsystem_add.js"
	type="text/javascript"></script>
</html>