<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<title>单位信息</title>
     <!--[if IE 7]>
    <link href="../../css/font-awesome-ie7.min.css" rel="stylesheet">
   <![endif]-->
     <!-- Bootstrap -->
    <link href="../../css/bootstrap.min.css" rel="stylesheet">
	<!-- 字体图标 -->
    <link href="../../css/font-awesome.min.css" rel="stylesheet">
  	<!-- bootstrap-dialog -->

	 <!-- NProgress -->
   <link href="../../css/nprogress.css" rel="stylesheet">
    <!-- 日期样式 -->
    <link href="../../css/bootstrap-datepicker3.min.css" rel="stylesheet">
    <!-- 公共样式 -->
	<link href="../../css/general.css" rel="stylesheet" media="screen" >
    <!-- 消息提示 -->
    <link href="../../css/toastr.min.css" rel="stylesheet">
	<!-- 文本验证 -->
    <link href="../../css/bootstrapValidator.min.css" rel="stylesheet">
    <!-- 选框样式 -->
	<link rel="stylesheet" type="text/css" href="../../css/build.css">
    <!-- 图片上传 -->
    <link href="../../css/bootstrap-fileinput.css" rel="stylesheet" />
	<link href="../../css/add.css" rel="stylesheet" media="screen" >
	
</head>
<body class="bg_white">
  <div class="padding_15">
   <div class="row">
  <div class="col-md-12">
  <div class="x_panel">
    <div class="x_top x_top1 clearfix" >
<h4>建筑设施设备月检查基本数据</h4>
   </div>
   
	   <div class="x_content " >
	  				<table  class="table table-hover text-center" >
		<tbody>
			<tr>
				<td class="success"> 电子标签编号 
				</td>
				<td><span> 63C121B5 </span></td>
				<td class="success"> 巡查频次 
				</td>
				<td><span> <span>1次/日</span> </span></td>
				<td class="success"> 地址 
				</td>
				<td><span> 11楼会议室出口</span></td>
			</tr>
			<tr>
				<td class="success"> 检查人 
				</td>
				<td><span> 王旭阳 </span></td>
				<td class="success"> 检查时间 
				</td>
				<td><span> 2017-09-05 14:01:30 </span></td>
				<td class="success"> 检查状态 
				</td>
				<td><span> <span style="color:red;">异常</span>
				</span></td>

			</tr>
		</tbody>
	</table>

</body>

</html>