<article  th:fragment="UnitInfo">
        <div class="x_scrollbar">
          <div class="col_left_menu">
                        <h5>共19类</h5>
                        <ul id="tree" class="ztree">
                        </ul>
                    </div>
           <div class="col_right_tb">
               <div class="content_row" style="display: block;">
               <div class="title_top">人员列表<a href="JavaScript:void(0)" id="UnitEmployee_add"><v class="fa fa-plus"></v>新增</a></div>
               <table class="table table-hover text-center">
                   <thead>
                   <tr class="active">
                       <th>姓名</th>
                       <th>职位</th>
                       <th>使用状态</th>
                       <th>是否开通账号</th>
                       <th>联系电话</th>
                      <th>操作</th>
                   </tr>
                   </thead>
                   <tbody>
                   <tr>
                       <td>小马达</td>
                       <td>巡查员</td>
                       <td>在职</td>
                       <td>是</td>
                       <td>15505863546</td>
                      
                       <td>
                           <button type="button" class="btn btn-yellow UnitEmployee_detail">查看</button>
                           <button type="button" class="btn btn-blue UnitEmployee_edit">编辑</button>
                           <button type="button" class="btn btn-red UnitEmployee_del">删除</button>
                       </td>
                   </tr>
                   </tbody>
               </table>
               </div>
            
<div class="content_row" >1212</div>
             
               </div>
               <div class="clear"></div>
           </div>     	   
	     </article> 