<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<title>城市公共安全基础数据库</title>
<link rel="stylesheet" href="../css/login.css">
<!-- 消息提示 -->
    <link href="../css/toastr.min.css" rel="stylesheet">
     <!-- NProgress -->
   <link href="../css/nprogress.css" rel="stylesheet">

</head>

<body>
	<img class="bg" src="../img/login_bg.png" width="100%">
	<ul class="content">
		<li class="leftIcon"><img src="../img/leftIcon.png" width="100%">
		</li>
		<li class="rightBox"><img src="../img/theme_e.png" width="65%">
			<img class="title" src="../img/theme_c.png" width="75%"> <input
			class="UserID" type="text" value="管理处"> <input class="PassWord"
			type="password" value="123456">
			<div class="chooses">
				<input class="remember" type="checkbox"><span>记住密码</span> <a
					href="#" class="forget">忘记密码</a>
			</div>
			<button class="LoginBtn"></button></li>
	</ul>

</body>
<script type="text/javascript" src="../js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="../js/login.js"></script>
<!-- 消息提示 -->
<script type="text/javascript" src="../js/toastr.js"></script>
<!-- 手机端-->
<script src="../js/jquery.dcjqaccordion.2.7.js"></script>
<!-- Bootstrap -->
<script src="../js/bootstrap.min.js"></script>
<!-- 滚动条-->
<script src="../js/jquery.nicescroll.js"></script>
<script src="../js/jquery.scrollTo.min.js"></script>
<!-- 自定义  -->
<script src="../js/style.js"></script>
<!-- 公用-->
<script src="../js/common.js"></script>
<!-- 弹出窗  -->
<script type="text/javascript" th:src="@{../js/layer.js}"></script>
<!-- 页面加载 -->
<script src="../js/nprogress.js"></script> 
</html>